body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 100px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #215ec6;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 34px;
}

.hotelAdress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hotelDistance {
  color: #1687c8;
}

.hotelPrice {
  color: rgb(12, 165, 12);
  font-weight: 700;
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.hotelImageWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotelDetailsTexts {
  flex: 3;
}

.hotelDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}

.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-size: 22px;
}
.hotelDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #215ec6;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.hotelDesc {
  font-size: 14px;
  margin: 20px 0;
}
