.searchItem {
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}
.siTitle {
  font-size: 20px;
  color: #003385;
}
.siDistance {
  font-size: 12px;
}
.siTaxi {
  font-size: 12px;
  background-color: rgb(18, 189, 18);
  color: white;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
}
.siSubtitle {
  font-size: 12px;
  font-weight: bold;
}
.siFeatures {
  font-size: 12px;
}
.siCancel {
  font-size: 12px;
  color: rgb(18, 189, 18);
  font-weight: 700;
}
.siCancelSub {
  font-size: 12px;
  color: rgb(18, 189, 18);
}

.siDetails {
  flex: 1;
}

/* Details */

.siDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.siRating > span {
  font-weight: 700;
}
.siRating > button {
  background-color: #003387;
  color: white;
  padding: 5px;
  font-weight: bold;
  border: none;
}

.siDetailTexts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.siPrice {
  font-weight: bold;
  font-size: 20px;
}
.siTax {
  color: rgba(0, 128, 0, 0.848);
}

.siCheckButton {
  font-weight: bold;
  background-color: #1857be;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}
